%% rel dirs
{sub_dirs, ["rel"]}.

%% compiler options
{
	erl_opts,
	[
		no_debug_info,
		fail_on_warning
	]
}.

%% deps
{
	deps,
	[
		{jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {branch, "master"}}}, %TODO remove me
		{uuid, ".*", {git, "https://github.com/afiskon/erlang-uuid-v4.git", {branch, "master"}}} %TODO remove me

	]
}.