%-*-Erlang-*-
{erl_opts, [debug_info]}.
{deps, [
        {proper,         ".*", {git, "git://github.com/manopapad/proper.git",  "HEAD"}},
        {reloader,       ".*", {git, "git://github.com/oinksoft/reloader.git", "master"}}
       ]}.

{cover_enabled,         true}.
{cover_export_enabled,  false}.
{cover_print_enabled,   true}.

